.root {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: linear-gradient(180deg, rgba(39, 159, 206, 0.5), transparent);
  will-change: opacity;
  transition: opacity 220ms ease-out;
}

.root:not(.isBusy)::before {
  opacity: 0;
}

.searchbox {
  box-sizing: border-box;
  max-width: 350px;
  width: 100%;
}

.features {
  display: grid;
  grid-gap: var(--features-gutter-size);
  grid-template: auto / repeat(auto-fill, minmax(var(--features-min-item-size), var(--features-max-item-size, 1fr)));
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.notice {
  margin-top: 20px;
}
