.host {
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.searchbox {
  box-sizing: border-box;
  max-width: 350px;
  width: 100%;
}

.features {
  display: grid;
  grid-gap: var(--features-gutter-size);
  grid-template: auto / repeat(auto-fill, minmax(var(--features-min-item-size), var(--features-max-item-size, 1fr)));
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.notice {
  margin-top: 20px;
}
