.host {
  composes: box from "../../styles/design.css";
  line-height: 1.45;
  padding: var(--feature-padding);
}

.icon {
  display: block;
  width: calc(100% + 3rem);
  margin: calc(var(--feature-padding) * -1) calc(var(--feature-padding) * -1) 0;
  height: 190px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.title {
  font-weight: inherit;
  font-size: 1.2em;
  margin: var(--feature-padding) 0 0;
}

.description {
  margin: 5px 0 0;
  color: #999;
}
